# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IntroductionToOOP/x64/Debug
/.vs/HomeWork/v17
/.vs
/NULLTerminatedLines/.vs/NULLTerminatedLines
/NULLTerminatedLines/x64/Debug
/Fraction/x64/Debug
*.vcxproj
*.filters
*.user
/NULLTerminatedLines/.vs/HomeWork/v17
/NULLTerminatedLines/.vs/HomeWork/FileContentIndex
/String/x64/Debug
