# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/IntroductionToOOP/x64/Debug
/.vs/HomeWork/v17
/.vs
/NULLTerminatedLines/.vs/NULLTerminatedLines
/NULLTerminatedLines/x64/Debug
/Fraction/x64/Debug
/NULLTerminatedLines/.vs/HomeWork/v17
/NULLTerminatedLines/.vs/HomeWork/FileContentIndex
/String/x64/Debug
/Academy/x64/Debug
/Files/x64/Debug
/RAW/x64/Debug
/Geometry/x64/Debug
/List/x64/Debug
/List/Debug
/NULLTerminatedLines/Debug
/List2/x64/Debug
/ListTemplate/x64/Debug
/BinaryTree/x64/Debug
/STL/x64/Debug
/WinApi/x64/Debug
/UML/x64/Debug
/Introduce to Csharp/bin
/Introduce to Csharp/obj
/NULLTerminatedLines/.vs
/Introduce to Csharp 2/bin/Debug/net6.0
/Introduce to Csharp 2/obj
/Introduce to Csharp 3/bin/Debug/net6.0
/Introduce to Csharp 3/obj
/OOP/obj
/OOP/bin/Debug/net6.0
/OperatorOverloading/obj
/Interface/obj/Debug/net6.0
/Interface/bin/Debug/net6.0
/Interface/obj
/Tamagotchi/bin/Debug/net6.0-windows
/Tamagotchi/obj
/Tamagotchi/bin/Release/net6.0-windows
/IComparable/obj
/CarRacing/bin/Release/net6.0
/CarRacing/obj
/IComparable/bin/Release/net6.0
/DictionaryApp/bin/Release/net6.0
/DictionaryApp/obj
/Iinvoice For Payment/bin/Release/net6.0
/Iinvoice For Payment/obj
/DisplaySize/obj/Debug/net6.0
*.csproj
